POSTGRES_DB=alimentacr
POSTGRES_USER=alimentacr_user
POSTGRES_PASSWORD=cambiar_contrasena
POSTGRES_PORT=5433

MONGO_DATABASE=alimentacr
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=cambiar_contrasena
MONGO_PORT=27017